{% extends '_layouts/default.twig' %}

{% block header_javascript %}
<script src="/js/vendor/qrcode.min.js"></script>
{% endblock %}

{% block content %}
<div style="margin: 0px auto 0px auto" class="text-center">
    <h1 class="text-3xl font-bold">Verify your Device</h1>

    <div class="m-4" id="qrcode"></div>

        <div>
            <a href="{{ verification_url }}" target="_blank">
                <vwc-button appearance="filled" label="Verify on computer"></vwc-button>
            </a>
        </div>
</div>
{% endblock %}

{% block footer_javascript %}
<script>
    new QRCode(
        document.getElementById('qrcode'),
        '{{ verification_url }}'
    );

    const wsUrl = 'wss://' + window.location.host + '/ws';
    webSocket = new WebSocket(wsUrl);
    webSocket.onmessage = (event) => {
        const data = JSON.parse(event.data);
        if (data['{{ stateID }}']) {
            window.location = '/room';
        }
    }
</script>
{% endblock %}