{% extends '_layouts/default.twig' %}

{% block content %}
<h1 class="text-3xl font-bold">We could not verify your device</h1>
<div>
    Unfortunately, we could not verify that your device was the requested device to join the video call.
</div>
{% endblock %}
