<!DOCTYPE html>
<html>

<head>
    <title> Vonage Video Archiving Sample </title>
    <link href="/css/app.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Your device has been verified</h1>
    
    <div>
        Your device has been verified, and you should now be logged in on your computer. You can safely close this window.
    </div>

    <script>
        window.close();
    </script>
</body>
</html>