<!DOCTYPE html>
<html>

<head>
    <title> Vonage Video Archiving Sample </title>
    <link href="/css/app.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>We could not verify your device</h1>
    
    <div>
        Unfortunately, we could not verify that your device was the requested device to join the video call.
    </div>
</body>
</html>