{% extends '_layouts/default.twig' %}

{% block content %}
<h1 class="text-3xl font-bold">Your device has been verified</h1>
<div>
    Your device has been verified, and you should now be logged in on your computer. You can safely close this window.
</div>
{% endblock %}

{% block footer_javascript %}
<script>
    window.close();
</script>
{% endblock %}
