{% extends '_layouts/default.twig' %}

{% block content %}
<h1 class="text-3xl font-bold">Your SIM has been recently swapped</h1>
<div>
    Unfortunately, it seems you SIM card has been recently swapped. We are unable to finish authenticating your device.
</div>
{% endblock %}