{% extends '_layouts/default.twig' %}

{% block header_javascript %}
<script src="https://unpkg.com/@vonage/client-sdk-video@2.27.0/dist/js/opentok.js"></script>
{% endblock %}

{% block content %}
<div>
    <div id="videos">
        <vwc-layout>
            <div>
                <div class="font-bold">Your Camera</div>
                <div id="publisher"></div>
                <div id="hardware_buttons">
                    <vwc-select label="Camera" id="cameraSelect"></vwc-select>
                    <vwc-select label="Microphone" id="micSelect"></vwc-select>
                </div>
            </div>

            <vwc-layout>
                <div>
                    <div class="font-bold">Other Participants</div>
                    <div id="subscriber"></div>
                </div>
            </vwc-layout>
        </vwc-layout>
        
        
    </div>
    <div id="buttonHolder" class="columns">
        <div id="buttons">
            <vwc-button appearance="filled" label="Start Archive" id="start"></vwc-button>
            <vwc-button appearance="filled" label="Stop Archive" id="stop"></vwc-button>
            <span id="archiveLink"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_javascript %}
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
{% endblock %}