<!DOCTYPE html>
<html>

<head>
    <title> Vonage Video Archiving Sample </title>
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/@vonage/client-sdk-video@latest/dist/js/opentok.js"></script>
</head>

<body>
    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
    <div id="buttonHolder">
       <div id="buttons">
           <button type="button" id="start">Start Archive</button>
           <button type="button" id="stop">Stop Archive</button>
           <span id="archiveLink"></span>
       </div>
    </div>
s
    <script type="text/javascript" src="/js/config.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>