body {
    margin: 0px;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#subscriber {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 300px;
    z-index: 10;
}
#publisher {
    width: 360px;
    height: 240px;
    bottom: 30px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}
#buttonHolder {
    position: absolute;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    bottom: 2px;
    left: 20px;
    z-index: 200;
}
#archiveLink > a {
    padding: 5px;
    background-color: white;
}

#debugBar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    color: white;
    display: none;
}

#debugBar #statusBar {
    align-items: center;
    gap: 4px;
    padding: 12px;
    display: flex;
}

#debugBar.enabled {
    display: block;
    max-height: 250px;
    overflow-y: scroll;
}

#lastDebugMessage {
    flex-grow: 1;
    text-align: right;
    padding: 4px;
}

#debugMessagesToggle {
    cursor: pointer;
    padding: 4px;
    font-weight: bolder;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#debugMessageLog {
    width: 100%;
    display: none;
    text-align: right;
    align-content: flex-end;
    flex-direction: column-reverse;
    max-height: 250px;
}

#debugMessageLog.enabled {
    display: inline-block;
}

#debugMessageLog {
    width: 100%;
    display: none;
    text-align: right;
}